.container {
  margin: 8px auto;
  max-width: 1920px;

  .user-card {
    margin: 8px;
    p {
      font-weight: 500;
    }
    span {
      font-weight: 400;
    }
    img {
      width: 100%;
    }
    .content {
      display: flex;

      .header {
        margin: 8px;
      }

      .info {
        margin: 8px 24px;
      }
    }
  }
}
.mt-1 {
  margin-top: 16px;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}
